<%- include('../partials/header') %>
<div  id="project-details">
    <h3>Media Type: <%= project.mediaType %></h3>
    <br>
    <h2>Description:</h2>
    <p><%= project.description %></p>
</div>

<br>

<div id="characters-table">
    <h2>Characters</h2>
    <a href="/characters/new">Add Character</a>
    <table id="characters-list">
        <thead>
            <tr>
                <th>Character</th>
                <th>Role</th>
                <th>Last Edited</th>
                <th>Details</th>
            </tr>
        </thead>
        <tbody>
            <% project.characters.forEach(function(c) { %>
            <tr>
                <td><%= c.name %></td>
                <td><%= c.role %></td>
                <td><%= c.updatedAt.getMonth() + 1 %>/<%= c.updatedAt.getDate() %>/<%= c.updatedAt.getFullYear() %></td>
                <td><a href="/characters/<%= c._id %>">MORE</a></td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>
<%- include('../partials/footer') %>